{% extends "my_site/base.html" %}
{% load static %}
{% block title %}Client{% endblock %}
{% block styles %}
    <link rel="stylesheet"
          href="{% static 'css/bootstrap-datetimepicker.min.css' %}"/>
{% endblock %}
{% block body %}
    <div class="col-md-10">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Surname</th>
                <td>{{ client.surname }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th>Patronymic</th>
                <td>{{ client.patronymic }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ client.phone }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-10">
        {% with "meeting" as title %}
            {% include "my_site/form_inline.html" %}
        {% endwith %}
        <a class="btn btn-primary" href="{% url 'my_site:index' %}">Back</a>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    {% include "my_site/datapicker.html" %}
{% endblock %}