{% extends "my_site/base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    {#    {{ block.super }}#}
    <div class="col-md-11">
        <div class="col-md-6">
            <h3>Users</h3>
            {% if users.count > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        {% if user.is_authenticated %}
                            <th>Id</th>
                        {% endif %}
                        <th>Username</th>
                        <th>Email</th>
                        {% if user.is_authenticated %}
                            <th>Delete</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for u in users %}
                        <tr>
                            {% if user.is_authenticated %}
                                <td><a class="btn-sm btn-default"
                                       href="{% url 'my_site:userInfo' u.id %}">{{ u.id }}</a>
                                </td>
                            {% endif %}
                            <td>{{ u.username }}</td>
                            <td>{{ u.email }}</td>
                            {% if user.is_authenticated %}
                                <td>
                                    <form method="post" action="{% url 'my_site:userDelete' u.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn-sm btn-danger">Delete</button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if user.is_authenticated %}
                <a class="btn btn-success" href="{% url 'my_site:user' %}">Add user</a>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h3>Clients</h3>
            {% if clients.count > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        {% if user.is_authenticated %}
                            <th>Id</th>
                        {% endif %}
                        <th>Surname</th>
                        <th>Name</th>
                        <th>Patronymic</th>
                        <th>Phone</th>
                        {% if user.is_authenticated %}
                            <th>Delete</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in clients %}
                        <tr>
                            {% if user.is_authenticated %}
                                <td><a class="btn-sm btn-default"
                                       href="{% url 'my_site:clientInfo' c.id %}">{{ c.id }}</a>
                                </td>
                            {% endif %}
                            <td>{{ c.surname }}</td>
                            <td>{{ c.name }}</td>
                            <td>{{ c.patronymic }}</td>
                            <td>{{ c.phone }}</td>
                            {% if user.is_authenticated %}
                                <td>
                                    <form method="post" action="{% url 'my_site:clientDelete' c.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn-sm btn-danger">Delete</button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if user.is_authenticated %}
                <a class="btn btn-success" href="{% url 'my_site:client' %}">Add client</a>
            {% endif %}
        </div>
    </div>
{% endblock %}