{% load  my_filter %}
<form action="" method="post">
    <script type="text/javascript">
        var picker = [];
        function addID(id) {
            picker.push(id);
        }
        {#        var picker = {};#}
        {#        function addID(id, value) {#}
        {#            picker[id] = value;#}
        {#        }#}
    </script>
    <table class="table table-striped">
        <thead>
        <tr>
            {% for f in form.0 %}
                {% if f.is_hidden %}
                    <th class="hidden"></th>
                {% else %}
                    <th class="form-group">{{ f.label }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for field in form %}
            <tr>
                {% for f in field %}
                    {% if f.is_hidden %}
                        <td class="hidden"> {{ f }}</td>
                    {% else %}
                        <td class="form-group">
                            {% if f.field|get_type == "<class 'django.forms.fields.DateTimeField'>" %}
                                <div class='input-group date' id='picker{{ f.id_for_label }}'>
                                    {{ f|add_class:"form-control" }}
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <script type="text/javascript">
                                    addID('#picker{{ f.id_for_label }}');
                                    {#                              addID('#picker{{ f.id_for_label }}', '{{ f.initial|date:"Y-M-d H:i:00" }}');#}
                                </script>
                            {% else %}
                                {{ f|add_class:"form-control" }}
                            {% endif %}
                            {% if f.errors %}
                                <p class="help-block">{{ f.errors }}</p>
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% with field.errors|contain_key:"__all__"  as error %}
                {% if error %}
                    <tr>
                        <td>
                            <p class="help-block">{{ error }}</p>
                        </td>
                    </tr>
                {% endif %}
            {% endwith %}
        {% endfor %}
        <tr class="form-inline">
            <td>
                <button type="reset" class="btn btn-danger">Reset changes of {{ title }}</button>
            </td>
            <td>
                <button type="submit" class="btn btn-primary">Save {{ title }}</button>
            </td>
        </tr>
        </tbody>
    </table>
    {% csrf_token %}
    {{ form.management_form }}
</form>